body{
    background:url("imagenes/fondoreserva.jpg") no-repeat center center fixed;;
    background-size: cover;
   
}
#freserva{
    background:linear-gradient(to right, #b4a77cc9, #d6dbd6c9);
    box-shadow: 10 10 0px black;
    padding: 10px;
    border-radius: 10PX;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
   margin-left: 50%;
   
   transform: translateX(-50%);
}
#comensales{
width: 4ch;

}
/*Configuracion del boton de enviar metiendolo en un div*/

/*Estilo por defecto de el formulario*/
#freserva form{
    font-weight: bolder;
    font-family: Verdana;
    text-align: left;
    font-size: 30px;
   
}


label{
  border-color: black ;
  margin-right: 100px;
  align-items: center;
}


#freserva input {
  border-color: black 1px;
  align-items: center;
  margin-left: 150px;
  float:right;

     
}
.enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25%;
    
}

input.Botonenviar{
  position: relative;
 
align-items: center;


}
.imagenes{
height: fit-content;
width:fit-content;
border-radius: 50px;
margin-left: 50%;
transform: translateX(-50%);


}

.botonespagina{
    height: fit-content;
    width: fit-content;
    position: fixed;
    transform: translateX(50%);
}

ul li{
    padding: 0;
    list-style: none;
}
 ul.slider{

position: relative;
width: 800px;
height: 300px;
}
 

ul.slider li{
    position: absolute ;
    left:0;
    top:0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    transition: scale 0.5s;

}
ul.slider li img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
   
}

ul.slider li:first-child{
    opacity: 1; 
}
ul.slider li:target{
opacity: 1;
}
.menu{
    align-items: center;
    width:fit-content ;
}

.menu li {
    display: inline-block;
    text-align: center;
    width: fit-content;
}



.menu li a {
  
    align-items: center;
    display: flex;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    background :linear-gradient(to right, #b4a77cc9, #d6dbd6c9) ;
    justify-content: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
 


}
  h1,p {
    text-shadow: 3px 3px 10px white;
    text-align: center;
    
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right, #b4a77cc9, #d6dbd6c9);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);

}
/* Estilo del boton de volver al inicio */
#volver {
    right: 10px;
    top: 10px;
    position: fixed;
    padding: 25px;
    text-align: center;
    background: url(imagenes/achabolavacio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana;
  
    transition: transform 0.1s;
  
  
  }
  
  
  #volver:hover {
    transform: scale(1.05);
  }
  
  #volver a {
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transform: rotate(-5deg);
  }
  
  /* ------------------------------------------------------------
  Estilo para ir a reserva
  */
  #volvercarta {
    left: 10px;
    top: 10px;
    position: fixed;
    padding: 25px;
    text-align: center;
    background: url(imagenes/achabolavacio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana;
  
    transition: transform 0.1s;
  
  
  }
  
  
  #volvercarta:hover {
    transform: scale(1.05);
  }
  
  #volvercarta a {
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transform: rotate(-5deg);
  }
  
  /* ------------------------------------------------------------*/