*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-image: url(imagenes/2020-05-24.jpg);
  background-size: cover;
  background-position: center;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  text-align: center;
  width: 100%;
  height:100px;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-style:italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  
  }
#Titulo{
padding-top:100px;
  margin-bottom: 0.5px;
  text-align: center;
  color: black;
  font-family: Verdana;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(255, 246, 246, 0.6);
}

p {
  margin-top: 0.5px;
  text-align: center;
  color: black;
  font-style: italic;
  font-family: Verdana;
  font-size: small;
}

#carta {

  background: linear-gradient(to right, #b4a77cc9, #d6dbd6c9), url("imagenes/achabola.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: transform 0.1s;
  margin-top: 30px;
  margin-bottom: 30px;

}


#carta:hover {
  transform: scale(1.05);
}

.tabla caption {
  margin-bottom: 25px;
  font-size: large;
  font-style: Verdana;
  font-weight: bolder;
}


.tabla tr.pegado {
  margin-top: 1px;
}

.tabla {
  width: 100%;
  height: 100%;
}

.tabla td.arroz {
  font-size: 12px;
  text-align: center;
  margin-left: 50%;
}

.tabla td.centrado {

  text-align: center;
  font-weight: bold;

}

.tabla td.precio {
  font-weight: lighter;
  text-align: right;

}

.tabla td {
  font-family: Verdana;
  font-weight: bolder;


}

/* Estilo del boton de volver al inicio */
#volver {
  right: 10px;
  top: 10px;
  position: fixed;
  padding: 25px;
  text-align: center;
  background: url(imagenes/achabolavacio.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Verdana;
  width: fit-content;
  height: fit-content;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Verdana;

  transition: transform 0.1s;


}


#volver:hover {
  transform: scale(1.05);
}

#volver a {
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  text-decoration: none;
  color: black;
  transform: rotate(-5deg);
}

/* ------------------------------------------------------------*/
/* ------------------------------------------------------------
  Estilo para ir a reserva
  */
#volvercarta {
  left: 10px;
  top: 10px;
  position: fixed;
  padding: 25px;
  text-align: center;
  background: url(imagenes/achabolavacio.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Verdana;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Verdana;
  transition: transform 0.1s;


}


#volvercarta:hover {
  transform: scale(1.05);
}

#volvercarta a {
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  text-decoration: none;
  color: black;
  transform: rotate(-5deg);
}

/* ------------------------------------------------------------*/