*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  header{
   top: 0;
   margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    text-align: center;
    width: 100%;
    height:100px;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 9999;
    position: fixed;
    }
    header img{
      position: fixed;
      width: 200px;
      left: 3%;
    }

    header p{
      position: fixed;
      font-size: 10px;
      right: 3%;
    }
    /* ------------------------------------------------------------*/
/* ------------------------------------------------------------
  Estilo para ir a reserva
  */
#volvercarta {
    left: 10px;
    top: 10px;
    position: fixed;
    padding: 25px;
    text-align: center;
    background: url("../imagenes/achabolavacio.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana;
    transition: transform 0.1s;
    z-index: 9999;
  
  }
  
  
  #volvercarta:hover {
    transform: scale(1.05);
  }
  
  #volvercarta a {
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transform: rotate(-5deg);
  }
  
  /* ------------------------------------------------------------*/
  /* Estilo del boton de volver al inicio */
#volver {
    right: 10px;
    top: 10px;
    position: fixed;
    padding: 25px;
    text-align: center;
    background: url("../imagenes/achabolavacio.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana;
    transition: transform 0.1s;
    z-index: 9999;
  
  }
  
  
  #volver:hover {
    transform: scale(1.05);
  }
  
  #volver a {
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transform: rotate(-5deg);
  }
  footer {
    margin-top: 60px;
    bottom: 0;
    display: flex;
    align-items: left;
     background-color: brown;
     text-align: center;
     width: 100%;
     height:70px;
  font-style:italic;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     z-index: 9999;
     position: fixed;
    
  }
 footer p.pie{

font-size: 25px;
position: fixed;
bottom: 10px;
right: 10PX;
 }
 footer a{
  align-items: left;
  margin: auto;
 margin-left: 5px;
 margin-right: 5px;
 }
 footer a img{
  width: 50px;
  height: 50px;
 }
 section{
  margin: auto;
  margin-left: 2%;
 justify-content: center;
 align-items: center;
 padding: auto;
  
  

}