*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }



body{
   
    
    background-image: url("../imagenes/bienvenida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div .tarjeta{

  box-shadow: 5px 5px 1px black;
}

h1{ 
    box-shadow: 10px 10px 10px black;
    padding: 6px;
    border-radius: 4px;
    width: fit-content;
    text-align: center;
    background: linear-gradient(to right, #b4a77cc9, #d6dbd6c9), url("../imagenes/achabola.png");
    margin: auto;
    margin-top: 110px;
    font-size: 2.7em;}


.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Crea 3 columnas de tamaño igual */
    grid-gap: 10px; /* Espacio entre los divs */
    margin: 10px;
    margin-top: 50px;
    height: inherit;
}

.contenedor div {
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background:linear-gradient(to right, #b4a77ca2, #d6dbd649);
    padding: 10px;
    border-radius: 5px;
   
  }
  div{
    height: fit-content;
   
  }


  div .boton{
    margin: auto;
    text-align: center;
    background-image: url(../imagenes/achabolavacio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana;
    transition: transform 0.1s;
    text-decoration: none;
  

}
p.descripcion{
 background: none;
  margin-top: 10px;
  font-size: 25px;
  text-shadow:1px 1px 2px white;



}
 div p{
font-size: 30px;
background-color: brown;
border-radius: 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;

}






  
.contenedor div a{
display: flex;
font-size: 20px;
text-decoration: none;
color: black;
transform: rotate(-5deg);
}

